.padded {
  padding-top: 10em;
  padding-bottom: 10em;
}
.bg-blue {
  background: $blue;
  color: white;
}
.bg-yellow {
  background: $yellow;
  color: white;
}
.bg-green {
  background: $green;
  color: white;
}

