.div-height{

	height: 1400px;
}

#presentation{

	width: 100%;
	margin: 0 auto;
	.row{		
		background-color: $white;
	}

	.img-padded{
		padding-top: 70px;
	}

	p{
		font-family: 'Open Sans', sans-serif;
   		font-size: 18px;
		letter-spacing: 0.1px;
 		line-height: 35px;
	}

	.text-padding{		
		padding-top: 50px;
	}
	
	.copyright-text p{
		font-size: 10px;
		line-height: 10px;
		padding-top: 20px;
	}
}	