---
title: About me
---


<div class="bg-yellow text-center padded">
	<h1>About me</h1>
</div>

<div id="presentation" class="padded">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="text-center img-padded">
					<%= image_tag "about.png", :class => "img-circle" %>
					<h3>Hey !</h3>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-8">
				<div class="text-left">
					<h3>Who am I ?</h3>
					<p>I'm a 22 years old guy named <strong>Florian.</strong><br> Living in Bussy Saint Georges, and looking for a <strong>professional training contract</strong> in <strong>Paris.</strong> I'm always motivated to practice any kind of <strong>sports</strong> and physicals exercises, i also enjoy making cool and good meals (even if burgers are life). I enjoyed playing <strong>video games</strong>, and used to be very good at League of Legends (unfortunaly i'm shit now), now playing less and less (bring back childhood). I also have some cool stuffs on <strong>twitter</strong>, and i'm sure that <strong>music</strong> makes your life happier.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-md-4">				
			</div>	
			<div class="col-xs-12 col-md-8">
				<div class="text-left">
					<h3>What am i doing ?</h3>
					<p>I Discovered <strong>web development</strong> (especially front end development) some months ago, and i really enjoyed training and trying some things. The fact that you can create whatever you think is very pleasant and motivating, because it forces you to try more and more. I love <strong>the process to create</strong> things of your own. In my free time, i enjoy to <strong>make music</strong> (using FL Studio). I'm not dj or music producer, i'm doing it for me, sometimes share it with some friends, but not more.</p>
					<p>One year ago, with 2 friends, we created a <strong>sport betting</strong> account on twitter. At the begining we were like "Hey we are not bad at sport betting why not to share it with a community?". Today, we have 20,2k followers on twitter, and 16k likes on facebook, we also have our own website <a target="_blank" href="http://www.epikpronos.com/">here</a>. This is a very good experience for me, to see that a simple idea could became a concrete project.</p>
					<p>Music is also a big part of my life. I'm listening to it everyday, and whenever i can. I particulary enjoy going to <strong>music festivals</strong> with friends, especially bass music events.</p>
				</div>
			</div>
		</div>
		<div class="row">			
			<div class="col-xs-12">
				<div class="text-right copyright-text">
					<p>icons copyrights :</p>
					<p>Headphones by Ralf Schmitzer from the Noun Project<br>
					Football by Delwar Hossain from the Noun Project<br>
					computer monitor by Ralf Schmitzer from the Noun Project<br>
					Burger by Rashida Luqman Kheriwala from the Noun Project<br>
					Paint Brush by Connor Shea from the Noun Project</p>
				</div>
			</div>
		</div>	
	</div>
</div>